<h1 class="text-of-all">Edit Movie</h1>

<form action="/movies/edit/{{movie._id}}" method="post" class="form-details">

    <label for="title">Movie title:
        <input type="text" id="title" name="title" value="{{movie.title}}" class="input-box">
    </label>

    <label for="genre">Genre:
        <input type="text" id="genre" name="genre" value="{{movie.genre}}" class="input-box">
    </label>

    <label for="plot">Plot:
        <textarea name="plot" id="plot" cols="30" rows="4" class="input-box">{{movie.plot}}</textarea>
    </label>

    <label for="cast">Celebrities:</label>
    <select name="cast" id="cast" class="input-box" multiple>
        {{#each celebrities}}
            <option value="{{_id}}">{{name}}</option>
        {{/each}}
    </select>

    <button type="submit" class="celebrities-btn">Edit</button>
</form>
