<h1>movie Details</h1>

<ul>
    <li>{{movie.title}}</li>
    <li>{{movie.genre}}</li>
    <li>{{movie.plot}}</li>
    {{#each movie.cast}}
        <li>{{this.name}}</li> 
    {{/each}}
</ul>

<button><a href="/movies/{{movie._id}}/edit">Edit</a></button>

<form action="/movies/{{movie._id}}/delete" method="post">
    <button type="submit">Delete</button>
</form>